#plus-button{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #f8f8f8;
  right: 35px;
  margin:-30px 0px 0px 0px;
  float: right;
  position: relative;
  box-shadow: 0px 4px 5px #888;
  vertical-align: middle;
  text-align: center;
  outline: none;
  transition: background-color 0.2s linear;
  border: 2px solid #f0f0f0;
}

#plus-button:hover{
  cursor: pointer;
}

#plus-button:active{
  background-color: #f0f0f0;
  border: none;
}

.edit{
  width:21px;
  height:21px;
  padding-top:2px;
  filter:brightness(70%);
  transition: filter 0.2s linear;
}

.edit:hover{
  filter:brightness(40%);
}
